[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
python-dotenv = "*"
djangorestframework = "*"
simplerouter = "*"
drf-nested-routers = "*"
django-filter = "*"
django-debug-toolbar = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
